[submodule "buildtools"]
	path = buildtools
	url = https://github.com/cesiumlang/cesium-buildtools
[submodule ".cspell/cesium"]
	path = .cspell/cesium
	url = https://github.com/cesiumlang/cspell-cesium.git
